.nav {
  margin-left: auto;
}

.navbar {
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 5px;

  &Btn{
    margin-right: 8px;
  }
}

.containerUser {
  padding-top: 30px;
  padding-bottom: 50px;
  .card {
    margin: 8px 8px 8px 8px;
    border: none;
  }
}

.userInfo {
  div {
    margin-bottom: 12px;
    padding: 8px 20px 8px 12px;
    border: 1px double lightgray;
    border-radius: 8px;
  }

  &Name {
    font-color: white;
    margin-right: 15px;
  }
}


